<div class="container-login100">
    <div class="wrap-login100">

        <div class="mb-5">

            <form *ngIf="registerForm" id="register" class="login100-form validate-form" [formGroup]="registerForm">

                <span class="login100-form-title">Become a Courier</span>

                <div class="wrap-input100 validate-input" >
                    <input class="input100" type="text" id="name" name="name" placeholder="Your name" formControlName="name">
                    <p *ngIf="error_name" class="text-danger">Name is required</p>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" id="email" name="email" placeholder="Your email" formControlName="email">
                    <p *ngIf="error_email" class="text-danger">A valid email is required: ex@abc.xyz</p>
                    <p *ngIf="error_register" class="text-danger">This email is already associated with an account!</p>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" id="pass" name="pass" placeholder="Your password" formControlName="password">
                    <p *ngIf="error_password" class="text-danger">Password is required</p>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" id="pass_again" name="pass_again" placeholder="Confirm your password">
                    <p *ngIf="error_diff_password" class="text-danger">Password is not the same</p>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="date" id="birthday" name="date" placeholder="Birthday" formControlName="birthdate">
                    <p *ngIf="error_birthday" class="text-danger">A valid birthday date is required</p>
                </div>

                <p *ngIf="success" class="text-success">Welcome! The account was created with success.</p>

                <div class="container-login100-form-btn">
                    <div class="col-lg-5">
                        <a class="login100-form-btn-cancel" (click)="back()">
                            Go Back
                        </a>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5">
                        <a class="login100-form-btn" (click)="register()">
                            Register
                        </a>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

