<p><strong>Name</strong> Serras</p>
<p><strong>Balance</strong> 72.12€</p>
<p><strong>Delivered Packages</strong> 24</p>
<p><strong>Delivering Since</strong> 02/01/2022</p>

<div id="request-notification" class="bg-light p-2 position-absolute bottom-0 w-100">
  <h3>New Request</h3>
  <p><strong>Shop </strong> Coviran Aveiro - 5 minutes away</p>
  <p><strong>Client </strong> 15 minutes away (DETI, Universidade de Aveiro)</p>

  <a routerLink="/navigation"><button class="btn btn-success">Accept</button></a>
  <button class="btn btn-danger" (click)="toggleNotification()">Refuse</button>
</div>